<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.felix.infra.mapper.MemberMapper" >

    <resultMap id="BaseResultMap" type="com.felix.infra.models.Member" >
        <result column="memberId" property="memberId" jdbcType="BIGINT" />
        <result column="memberName" property="memberName" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
        <result column="createdTime" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updatedTime" property="updatedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="columns">
        memberId, memberName, mobile, email, birthday, createdTime, updatedTime
    </sql>

    <insert id="save" parameterType="com.felix.infra.models.Member">
        insert into member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            memberId, memberName, mobile,
            <if test="email != null">email,</if>
            <if test="birthday != null">birthday,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{memberId}, #{memberName}, #{mobile},
            <if test="email != null">#{email},</if>
            <if test="birthday != null">#{birthday},</if>
        </trim>
    </insert>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="columns"/> from member where memberId = #{memberId}
    </select>
</mapper>